@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Vehicle Track</h1>
    <hr />

    <h2>Welcome to Vehicle Track</h2>
    <p>This app allows you to track a car, truck, motorcycle and boat.  </p>
    <p>Vehicles are automatically created with the proper number of tires  </p>
    <p>but you control the Name, Fuel level and the State of your tires. </p>
    <p>The state of the tires is tracked by entering the mileage, at certain </p>
    <p>mileage you should change your tires. </p>
    <br />
    <br />    

    <div>
        <a asp-action="VehicleList">Please continue...</a>
    </div>

</div>
